<configuration>
	<appSettings>
		<add key="PluginPaths" value="D:\Software design\Paint\Reflection\ReverseTransform\bin\Debug\ReverseTransform.dll;D:\Software design\Paint\Reflection\RandomPlugin\bin\Debug\RandomPlugin.dll;D:\Software design\Paint\Reflection\GreyPlugin\bin\Debug\GreyPlugin.dll;D:\Software design\Paint\Reflection\BrightPlugin\bin\Debug\BrightPlugin.dll;D:\Software design\Paint\Reflection\ContrastPlugin\bin\Debug\ContrastPlugin.dll" />
	</appSettings>
</configuration>